# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**
* List of popular languages for Data Sciene
* List of commonly used librarites in Data Science
* List of Data Science tools

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotib

### Data Sciene Tools
| Data Sciene Tools |
| --------|
| Jupyter Lab |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##